<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    
    <!-- 1. Habilitar compresión estática y dinámica -->
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />

    <!-- 2. Definir Tipos MIME -->
    <staticContent>
      <remove fileExtension=".csv" />
      <mimeMap fileExtension=".csv" mimeType="text/csv; charset=utf-8" />
      
      <remove fileExtension=".gz" />
      <mimeMap fileExtension=".gz" mimeType="application/gzip" />

      <!-- Configurar para que los archivos estáticos requieran revalidación -->
      <clientCache cacheControlMode="DisableCache" />
    </staticContent>

    <!-- 3. Desactivar el guardado en caché para los CSV y scripts -->
    <httpProtocol>
      <customHeaders>
        <add name="Cache-Control" value="no-cache, no-store, must-revalidate" />
        <add name="Pragma" value="no-cache" />
        <add name="Expires" value="0" />
      </customHeaders>
    </httpProtocol>

  </system.webServer>
</configuration>
